<%# app/views/surveys/new.html.erb %>

<%= render 'layouts/navbar' %>

<div class="max-w-4xl mx-auto p-6 bg-white shadow-xl rounded-lg mt-10">
  <h1 class="text-3xl font-bold text-center text-gray-800 mb-6">Crea un Nuevo Formulario</h1>
  
  <%= form_with model: @survey, local: true, class: "space-y-6" do |form| %>
    
    <div class="space-y-2">
      <%= form.label :name, "Nombre del Formulario", class: "block text-gray-700 font-semibold" %>
      <%= form.text_field :name, class: "w-full p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500", placeholder: "Escribe el nombre del formulario" %>
    </div>

    <div class="space-y-2">
      <%= form.label :description, "Descripci贸n del Formulario", class: "block text-gray-700 font-semibold" %>
      <%= form.text_area :description, class: "w-full p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500", placeholder: "Describe el prop贸sito del formulario", rows: 4 %>
    </div>
    
    <div class="space-y-2">
      <%= form.label :email, "Correo Electr贸nico", class: "block text-gray-700 font-semibold" %>
      <%= form.email_field :email, class: "w-full p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500", placeholder: "Escribe tu correo electr贸nico" %>
    </div>
    
    <div class="flex items-center space-x-4">
      <%= form.check_box :processed_in_job, id: "processed_in_job", class: "text-blue-500" %>
      <%= form.label :processed_in_job, "Procesar en segundo plano", class: "text-gray-700" %>
    </div>

    <div class="flex justify-center">
      <%= form.submit "Crear Formulario", class: "w-full bg-blue-500 text-white font-semibold py-3 rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    </div>
  <% end %>
</div>
